# 점포

In [1]:
import pandas as pd
store = pd.read_csv('서울시_우리마을가게_상권분석서비스(신_상권_추정매출).csv')

In [2]:
store.columns

Index(['Unnamed: 0', '기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드',
       '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율',
       '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [3]:
store.drop(columns='Unnamed: 0', inplace=True)

# 추정매출

In [4]:
sales = pd.read_csv('08상권-추정매출.csv')

In [5]:
# 분석에 사용할 기준 칼럼
base_columns = ['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명']

In [6]:
# sales 데이터프레임의 정보를 출력
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272612 entries, 0 to 272611
Data columns (total 80 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년_코드          272612 non-null  int64
 1   기준_분기_코드         272612 non-null  int64
 2   상권_구분_코드         272612 non-null  object
 3   상권_구분_코드_명       272612 non-null  object
 4   상권_코드            272612 non-null  int64
 5   상권_코드_명          272612 non-null  object
 6   서비스_업종_코드        272612 non-null  object
 7   서비스_업종_코드_명      272612 non-null  object
 8   분기당_매출_금액        272612 non-null  float64
 9   분기당_매출_건수        272612 non-null  int64
 10  주중_매출_비율         272612 non-null  int64
 11  주말_매출_비율         272612 non-null  int64
 12  월요일_매출_비율        272612 non-null  int64
 13  화요일_매출_비율        272612 non-null  int64
 14  수요일_매출_비율        272612 non-null  int64
 15  목요일_매출_비율        272612 non-null  int64
 16  금요일_매출_비율        272612 non-null  int64
 17  토요일_매출_비율        272612 non-null  int64
 18  일요일_매출_비율        272612 non-null  int64
 19  시간대_00~06_매출_비율  272612 non-null  int64
 20  시간대_06~11_매출_비율  272612 non-null  int64
 21  시간대_11~14_매출_비율  272612 non-null  int64
 22  시간대_14~17_매출_비율  272612 non-null  int64
 23  시간대_17~21_매출_비율  272612 non-null  int64
 24  시간대_21~24_매출_비율  272612 non-null  int64
 25  남성_매출_비율         272612 non-null  int64
 26  여성_매출_비율         272612 non-null  int64
 27  연령대_10_매출_비율     272612 non-null  int64
 28  연령대_20_매출_비율     272612 non-null  int64
 29  연령대_30_매출_비율     272612 non-null  int64
 30  연령대_40_매출_비율     272612 non-null  int64
 31  연령대_50_매출_비율     272612 non-null  int64
 32  연령대_60_이상_매출_비율  272612 non-null  int64
 33  주중_매출_금액         272612 non-null  float64
 34  주말_매출_금액         272612 non-null  float64
 35  월요일_매출_금액        272612 non-null  float64
 36  화요일_매출_금액        272612 non-null  float64
 37  수요일_매출_금액        272612 non-null  float64
 38  목요일_매출_금액        272612 non-null  float64
 39  금요일_매출_금액        272612 non-null  float64
 40  토요일_매출_금액        272612 non-null  float64
 41  일요일_매출_금액        272612 non-null  float64
 42  시간대_00~06_매출_금액  272612 non-null  float64
 43  시간대_06~11_매출_금액  272612 non-null  float64
 44  시간대_11~14_매출_금액  272612 non-null  float64
 45  시간대_14~17_매출_금액  272612 non-null  float64
 46  시간대_17~21_매출_금액  272612 non-null  float64
 47  시간대_21~24_매출_금액  272612 non-null  int64
 48  남성_매출_금액         272612 non-null  float64
 49  여성_매출_금액         272612 non-null  float64
 50  연령대_10_매출_금액     272612 non-null  int64
 51  연령대_20_매출_금액     272612 non-null  int64
 52  연령대_30_매출_금액     272612 non-null  float64
 53  연령대_40_매출_금액     272612 non-null  float64
 54  연령대_50_매출_금액     272612 non-null  float64
 55  연령대_60_이상_매출_금액  272612 non-null  float64
 56  주중_매출_건수         272612 non-null  int64
 57  주말_매출_건수         272612 non-null  int64
 58  월요일_매출_건수        272612 non-null  int64
 59  화요일_매출_건수        272612 non-null  int64
 60  수요일_매출_건수        272612 non-null  int64
 61  목요일_매출_건수        272612 non-null  int64
 62  금요일_매출_건수        272612 non-null  int64
 63  토요일_매출_건수        272612 non-null  int64
 64  일요일_매출_건수        272612 non-null  int64
 65  시간대_건수~06_매출_건수  272612 non-null  int64
 66  시간대_건수~11_매출_건수  272612 non-null  int64
 67  시간대_건수~14_매출_건수  272612 non-null  int64
 68  시간대_건수~17_매출_건수  272612 non-null  int64
 69  시간대_건수~21_매출_건수  272612 non-null  int64
 70  시간대_건수~24_매출_건수  272612 non-null  int64
 71  남성_매출_건수         272612 non-null  int64
 72  여성_매출_건수         272612 non-null  int64
 73  연령대_10_매출_건수     272612 non-null  int64
 74  연령대_20_매출_건수     272612 non-null  int64
 75  연령대_30_매출_건수     272612 non-null  int64
 76  연령대_40_매출_건수     272612 non-null  int64
 77  연령대_50_매출_건수     272612 non-null  int64
 78  연령대_60_이상_매출_건수  272612 non-null  int64
 79  점포수              272612 non-null  int64
dtypes: float64(21), int64(54), object(5)
memory usage: 166.4+ MB

In [7]:
# 위에서 만든 store와 sales 데이터프레임을 base_columns을 기준으로 내부 조인하여 data 데이터프레임을 생성
data = pd.merge(store, sales, on=base_columns, how='inner')

In [8]:
# data 데이터 프레임의 정보 출력
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264216 entries, 0 to 264215
Data columns (total 87 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년_코드          264216 non-null  int64
 1   기준_분기_코드         264216 non-null  int64
 2   상권_구분_코드         264216 non-null  object
 3   상권_구분_코드_명       264216 non-null  object
 4   상권_코드            264216 non-null  int64
 5   상권_코드_명          264216 non-null  object
 6   서비스_업종_코드        264216 non-null  object
 7   서비스_업종_코드_명      264216 non-null  object
 8   점포_수             264216 non-null  int64
 9   유사_업종_점포_수       264216 non-null  int64
 10  개업_율             264216 non-null  int64
 11  개업_점포_수          264216 non-null  int64
 12  폐업_률             264216 non-null  int64
 13  폐업_점포_수          264216 non-null  int64
 14  프랜차이즈_점포_수       264216 non-null  int64
 15  분기당_매출_금액        264216 non-null  float64
 16  분기당_매출_건수        264216 non-null  int64
 17  주중_매출_비율         264216 non-null  int64
 18  주말_매출_비율         264216 non-null  int64
 19  월요일_매출_비율        264216 non-null  int64
 20  화요일_매출_비율        264216 non-null  int64
 21  수요일_매출_비율        264216 non-null  int64
 22  목요일_매출_비율        264216 non-null  int64
 23  금요일_매출_비율        264216 non-null  int64
 24  토요일_매출_비율        264216 non-null  int64
 25  일요일_매출_비율        264216 non-null  int64
 26  시간대_00~06_매출_비율  264216 non-null  int64
 27  시간대_06~11_매출_비율  264216 non-null  int64
 28  시간대_11~14_매출_비율  264216 non-null  int64
 29  시간대_14~17_매출_비율  264216 non-null  int64
 30  시간대_17~21_매출_비율  264216 non-null  int64
 31  시간대_21~24_매출_비율  264216 non-null  int64
 32  남성_매출_비율         264216 non-null  int64
 33  여성_매출_비율         264216 non-null  int64
 34  연령대_10_매출_비율     264216 non-null  int64
 35  연령대_20_매출_비율     264216 non-null  int64
 36  연령대_30_매출_비율     264216 non-null  int64
 37  연령대_40_매출_비율     264216 non-null  int64
 38  연령대_50_매출_비율     264216 non-null  int64
 39  연령대_60_이상_매출_비율  264216 non-null  int64
 40  주중_매출_금액         264216 non-null  float64
 41  주말_매출_금액         264216 non-null  float64
 42  월요일_매출_금액        264216 non-null  float64
 43  화요일_매출_금액        264216 non-null  float64
 44  수요일_매출_금액        264216 non-null  float64
 45  목요일_매출_금액        264216 non-null  float64
 46  금요일_매출_금액        264216 non-null  float64
 47  토요일_매출_금액        264216 non-null  float64
 48  일요일_매출_금액        264216 non-null  float64
 49  시간대_00~06_매출_금액  264216 non-null  float64
 50  시간대_06~11_매출_금액  264216 non-null  float64
 51  시간대_11~14_매출_금액  264216 non-null  float64
 52  시간대_14~17_매출_금액  264216 non-null  float64
 53  시간대_17~21_매출_금액  264216 non-null  float64
 54  시간대_21~24_매출_금액  264216 non-null  int64
 55  남성_매출_금액         264216 non-null  float64
 56  여성_매출_금액         264216 non-null  float64
 57  연령대_10_매출_금액     264216 non-null  int64
 58  연령대_20_매출_금액     264216 non-null  int64
 59  연령대_30_매출_금액     264216 non-null  float64
 60  연령대_40_매출_금액     264216 non-null  float64
 61  연령대_50_매출_금액     264216 non-null  float64
 62  연령대_60_이상_매출_금액  264216 non-null  float64
 63  주중_매출_건수         264216 non-null  int64
 64  주말_매출_건수         264216 non-null  int64
 65  월요일_매출_건수        264216 non-null  int64
 66  화요일_매출_건수        264216 non-null  int64
 67  수요일_매출_건수        264216 non-null  int64
 68  목요일_매출_건수        264216 non-null  int64
 69  금요일_매출_건수        264216 non-null  int64
 70  토요일_매출_건수        264216 non-null  int64
 71  일요일_매출_건수        264216 non-null  int64
 72  시간대_건수~06_매출_건수  264216 non-null  int64
 73  시간대_건수~11_매출_건수  264216 non-null  int64
 74  시간대_건수~14_매출_건수  264216 non-null  int64
 75  시간대_건수~17_매출_건수  264216 non-null  int64
 76  시간대_건수~21_매출_건수  264216 non-null  int64
 77  시간대_건수~24_매출_건수  264216 non-null  int64
 78  남성_매출_건수         264216 non-null  int64
 79  여성_매출_건수         264216 non-null  int64
 80  연령대_10_매출_건수     264216 non-null  int64
 81  연령대_20_매출_건수     264216 non-null  int64
 82  연령대_30_매출_건수     264216 non-null  int64
 83  연령대_40_매출_건수     264216 non-null  int64
 84  연령대_50_매출_건수     264216 non-null  int64
 85  연령대_60_이상_매출_건수  264216 non-null  int64
 86  점포수              264216 non-null  int64
dtypes: float64(21), int64(61), object(5)
memory usage: 175.4+ MB

# 업종별 columns 정리

In [9]:
# 각 카테고리별 업종 리스트를 정의
음식점 = ['한식음식점', '중식음식점', '일식음식점', '양식음식점']
주점업 = ['제과점', '패스트푸드점','치킨전문점', '분식전문점']
음료 = ['호프-간이주점', '커피음료','커피-음료']
식료품점 = ['슈퍼마켓', '편의점', '미곡판매', '육류판매', '수산물판매', '청과상', '반찬가게']
의류_및_미용 = ['일반의류', '한복점', '유아의류', '신발', '가방', '안경', '시계및귀금속','화장품', '미용재료']
소매업_기타 = ['컴퓨터 및 주변장치판매','컴퓨터및주변장치판매', '핸드폰', '서적', '문구', '운동/경기용품', '자전거 및 기타운송장비', '완구', '섬유제품', '화초', '애완동물', '중고가구', '가구', '가전제품', '철물점', '악기', '인테리어', '조명용품', '주유소', '전자상거래업', '예술품']
자동차_및_부품판매업 = ['중고차판매', '자동차부품', '모터사이클 및 부품','모터사이클및부품']
도매_및_상품중개업 = ['주류도매', '재생용품판매점','재생용품 판매점']
교육_서비스업 = ['일반교습학원', '외국어학원', '예술학원', '컴퓨터학원', '스포츠강습','스포츠 강습']
보건업 = ['일반의원', '치과의원', '한의원',  '의약품', '의료기기']
기타_전문_과학_및_기술_서비스업 = ['동물병원']
전문_서비스업= ['변호사사무소', '변리사사무소', '법무사사무소', '기타법무서비스', '회계사사무소', '세무사사무소']
스포츠_및_오락관련_서비스업 = ['당구장', '골프연습장', '볼링장', 'PC방', '전자게임장', '기타오락장', '복권방', '스포츠클럽', '노래방']
개인_및_소비용품_수리업 = ['통신기기수리','자동차수리', '자동차미용', '모터사이클수리', '가전제품수리']
기타_개인_서비스업 = ['미용실', '네일숍', '피부관리실', '세탁소']
부동산업 = ['부동산중개업']
숙박업 = ['여관', '게스트하우스', '고시원']
창작예술_및_여가관련_서비스업  = ['독서실']
영상_오디오_기록물_제작_및_배급업 = ['DVD방', '녹음실']
기타_전문_과학_및_기술_서비스업 = ['사진관', '통번역서비스']
사업시설관리_및_조경_서비스업 = ['건축물청소']
사업_지원_서비스업 = ['여행사']
임대업_부동산_제외 = ['비디오/서적임대', '의류임대', '가정용품임대']

In [10]:
# 기존 데이터프레임에 새로운 카테고리 열 추가
def categorize_service(row):
    if row['서비스_업종_코드_명'] in 음식점:
        return '음식점'
    elif row['서비스_업종_코드_명'] in 주점업:
        return '주점업'
    elif row['서비스_업종_코드_명'] in 음료:
        return '음료'
    elif row['서비스_업종_코드_명'] in 식료품점:
        return '식료품'
    elif row['서비스_업종_코드_명'] in 의류_및_미용:
        return '의류_미용'
    elif row['서비스_업종_코드_명'] in 소매업_기타:
        return '소매업'
    elif row['서비스_업종_코드_명'] in 자동차_및_부품판매업:
        return '소매_자동차_및_부품'
    elif row['서비스_업종_코드_명'] in 도매_및_상품중개업:
        return '도매_및_상품중개'
    elif row['서비스_업종_코드_명'] in 교육_서비스업:
        return '교육'
    elif row['서비스_업종_코드_명'] in 보건업:
        return '보건'
    elif row['서비스_업종_코드_명'] in 기타_전문_과학_및_기술_서비스업:
        return '전문_과학_기술'
    elif row['서비스_업종_코드_명'] in 전문_서비스업:
        return '전문_서비스'
    elif row['서비스_업종_코드_명'] in 스포츠_및_오락관련_서비스업:
        return '스포츠_및_오락관련_서비스업'
    elif row['서비스_업종_코드_명'] in 개인_및_소비용품_수리업:
        return '개인_소비용품_수리'
    elif row['서비스_업종_코드_명'] in 기타_개인_서비스업:
        return '기타_개인_서비스'
    elif row['서비스_업종_코드_명'] in 부동산업:
        return '부동산'
    elif row['서비스_업종_코드_명'] in 숙박업:
        return '숙박'
    elif row['서비스_업종_코드_명'] in 창작예술_및_여가관련_서비스업:
        return '창작예술_여가'
    elif row['서비스_업종_코드_명'] in 영상_오디오_기록물_제작_및_배급업:
        return '영상_오디오_기록물_제작_배급'
    elif row['서비스_업종_코드_명'] in 사업시설관리_및_조경_서비스업:
        return '사업시설관리_조경'
    elif row['서비스_업종_코드_명'] in 사업_지원_서비스업:
        return '사업_지원'
    elif row['서비스_업종_코드_명'] in 임대업_부동산_제외:
        return '임대업_부동산_제외'
    else:
        return 'other'  # 추가적인 카테고리를 원할 경우

# 기존 데이터프레임에 새로운 카테고리 열 추가
data['category20'] = data.apply(categorize_service, axis=1)

In [11]:
# 결과 확인
print(data['category20'].unique())

['음식점' '주점업' '음료' '교육' '스포츠_및_오락관련_서비스업' '기타_개인_서비스' '숙박' '식료품' '의류_미용'
 '소매업' '보건' '개인_소비용품_수리' '사업_지원' '전문_과학_기술' '창작예술_여가' '부동산' '전문_서비스'
 '소매_자동차_및_부품' '임대업_부동산_제외' '사업시설관리_조경']

In [12]:
# data 데이터프레임의 'category20' 컬럼의 각 카테고리 값별 빈도수를 계산
top = data['category20'].value_counts()
top

category20
소매업                43168
식료품                31577
의류_미용              25122
주점업                23687
음식점                23153
보건                 22919
기타_개인_서비스          20570
스포츠_및_오락관련_서비스업    19224
교육                 17954
음료                 15530
개인_소비용품_수리          8259
숙박                  4017
전문_과학_기술            3081
창작예술_여가             1982
전문_서비스              1178
사업_지원                937
소매_자동차_및_부품          909
부동산                  859
임대업_부동산_제외            72
사업시설관리_조경             18
Name: count, dtype: int64

In [13]:
# top 변수에서 가장 빈도수가 높은 상위 10개의 값(index)을 추출
top10 = top.head(10).index

In [14]:
# 'category20' 컬럼 값이 'other'인 행들에서 '서비스_업종_코드_명' 컬럼의 고유한 값들을 추출
data[data['category20']=='other']['서비스_업종_코드_명'].unique()

array([], dtype=object)

# 업종별 매출액 계산

In [15]:
# data 데이터 프레임의 정보 출력
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264216 entries, 0 to 264215
Data columns (total 88 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년_코드          264216 non-null  int64
 1   기준_분기_코드         264216 non-null  int64
 2   상권_구분_코드         264216 non-null  object
 3   상권_구분_코드_명       264216 non-null  object
 4   상권_코드            264216 non-null  int64
 5   상권_코드_명          264216 non-null  object
 6   서비스_업종_코드        264216 non-null  object
 7   서비스_업종_코드_명      264216 non-null  object
 8   점포_수             264216 non-null  int64
 9   유사_업종_점포_수       264216 non-null  int64
 10  개업_율             264216 non-null  int64
 11  개업_점포_수          264216 non-null  int64
 12  폐업_률             264216 non-null  int64
 13  폐업_점포_수          264216 non-null  int64
 14  프랜차이즈_점포_수       264216 non-null  int64
 15  분기당_매출_금액        264216 non-null  float64
 16  분기당_매출_건수        264216 non-null  int64
 17  주중_매출_비율         264216 non-null  int64
 18  주말_매출_비율         264216 non-null  int64
 19  월요일_매출_비율        264216 non-null  int64
 20  화요일_매출_비율        264216 non-null  int64
 21  수요일_매출_비율        264216 non-null  int64
 22  목요일_매출_비율        264216 non-null  int64
 23  금요일_매출_비율        264216 non-null  int64
 24  토요일_매출_비율        264216 non-null  int64
 25  일요일_매출_비율        264216 non-null  int64
 26  시간대_00~06_매출_비율  264216 non-null  int64
 27  시간대_06~11_매출_비율  264216 non-null  int64
 28  시간대_11~14_매출_비율  264216 non-null  int64
 29  시간대_14~17_매출_비율  264216 non-null  int64
 30  시간대_17~21_매출_비율  264216 non-null  int64
 31  시간대_21~24_매출_비율  264216 non-null  int64
 32  남성_매출_비율         264216 non-null  int64
 33  여성_매출_비율         264216 non-null  int64
 34  연령대_10_매출_비율     264216 non-null  int64
 35  연령대_20_매출_비율     264216 non-null  int64
 36  연령대_30_매출_비율     264216 non-null  int64
 37  연령대_40_매출_비율     264216 non-null  int64
 38  연령대_50_매출_비율     264216 non-null  int64
 39  연령대_60_이상_매출_비율  264216 non-null  int64
 40  주중_매출_금액         264216 non-null  float64
 41  주말_매출_금액         264216 non-null  float64
 42  월요일_매출_금액        264216 non-null  float64
 43  화요일_매출_금액        264216 non-null  float64
 44  수요일_매출_금액        264216 non-null  float64
 45  목요일_매출_금액        264216 non-null  float64
 46  금요일_매출_금액        264216 non-null  float64
 47  토요일_매출_금액        264216 non-null  float64
 48  일요일_매출_금액        264216 non-null  float64
 49  시간대_00~06_매출_금액  264216 non-null  float64
 50  시간대_06~11_매출_금액  264216 non-null  float64
 51  시간대_11~14_매출_금액  264216 non-null  float64
 52  시간대_14~17_매출_금액  264216 non-null  float64
 53  시간대_17~21_매출_금액  264216 non-null  float64
 54  시간대_21~24_매출_금액  264216 non-null  int64
 55  남성_매출_금액         264216 non-null  float64
 56  여성_매출_금액         264216 non-null  float64
 57  연령대_10_매출_금액     264216 non-null  int64
 58  연령대_20_매출_금액     264216 non-null  int64
 59  연령대_30_매출_금액     264216 non-null  float64
 60  연령대_40_매출_금액     264216 non-null  float64
 61  연령대_50_매출_금액     264216 non-null  float64
 62  연령대_60_이상_매출_금액  264216 non-null  float64
 63  주중_매출_건수         264216 non-null  int64
 64  주말_매출_건수         264216 non-null  int64
 65  월요일_매출_건수        264216 non-null  int64
 66  화요일_매출_건수        264216 non-null  int64
 67  수요일_매출_건수        264216 non-null  int64
 68  목요일_매출_건수        264216 non-null  int64
 69  금요일_매출_건수        264216 non-null  int64
 70  토요일_매출_건수        264216 non-null  int64
 71  일요일_매출_건수        264216 non-null  int64
 72  시간대_건수~06_매출_건수  264216 non-null  int64
 73  시간대_건수~11_매출_건수  264216 non-null  int64
 74  시간대_건수~14_매출_건수  264216 non-null  int64
 75  시간대_건수~17_매출_건수  264216 non-null  int64
 76  시간대_건수~21_매출_건수  264216 non-null  int64
 77  시간대_건수~24_매출_건수  264216 non-null  int64
 78  남성_매출_건수         264216 non-null  int64
 79  여성_매출_건수         264216 non-null  int64
 80  연령대_10_매출_건수     264216 non-null  int64
 81  연령대_20_매출_건수     264216 non-null  int64
 82  연령대_30_매출_건수     264216 non-null  int64
 83  연령대_40_매출_건수     264216 non-null  int64
 84  연령대_50_매출_건수     264216 non-null  int64
 85  연령대_60_이상_매출_건수  264216 non-null  int64
 86  점포수              264216 non-null  int64
 87  category20       264216 non-null  object
dtypes: float64(21), int64(61), object(6)
memory usage: 177.4+ MB

In [16]:
import pandas as pd

# 첫 번째 그룹화된 데이터를 데이터프레임으로 변환
result1 = data.groupby(['상권_코드', 'category20'])['분기당_매출_금액'].sum().reset_index()
result1.rename(columns={'분기당_매출_금액': '업종_분기당_매출_금액'}, inplace=True)

# 두 번째 그룹화된 데이터를 데이터프레임으로 변환
result2 = data.groupby('상권_코드')['분기당_매출_금액'].sum().reset_index()
result2.rename(columns={'분기당_매출_금액': '상권_전체_분기당_매출_금액'}, inplace=True)

# '상권_코드'를 기준으로 두 데이터프레임을 merge
merged_df = pd.merge(result1, result2, on='상권_코드', how='inner')

# 매출 비율 만들기
merged_df['매출_비율'] = round(merged_df['업종_분기당_매출_금액'] / merged_df['상권_전체_분기당_매출_금액'], 3)

# 결과를 출력
print(merged_df)

         상권_코드  category20  업종_분기당_매출_금액  상권_전체_분기당_매출_금액  매출_비율
0      1001491  개인_소비용품_수리  5.705044e+08     7.669237e+11  0.001
1      1001491          교육  1.142871e+09     7.669237e+11  0.001
2      1001491   기타_개인_서비스  6.557306e+09     7.669237e+11  0.009
3      1001491          보건  1.301284e+10     7.669237e+11  0.017
4      1001491         부동산  4.680000e+08     7.669237e+11  0.001
...        ...         ...           ...              ...    ...
17442  2130326         식료품  9.838348e+09     3.120657e+10  0.315
17443  2130326          음료  2.383652e+08     3.120657e+10  0.008
17444  2130326         음식점  2.190159e+09     3.120657e+10  0.070
17445  2130326       의류_미용  1.208625e+09     3.120657e+10  0.039
17446  2130326         주점업  2.019440e+09     3.120657e+10  0.065

[17447 rows x 5 columns]

In [17]:
# merged_df 데이터프레임에서 '상권_코드', 'category20', '업종_분기당_매출_금액' 컬럼만 추출하여 data_amount 데이터프레임을 생성
data_amount = merged_df[['상권_코드', 'category20', '업종_분기당_매출_금액']]

# data_amount 데이터프레임에서 'category20' 컬럼 값이 top10 리스트에 포함되어 있는 행들로 필터링
data_amount = data_amount[data_amount['category20'].isin(top10)]

In [18]:
# data_amount 데이터 프레임의 정보 출력
data_amount.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14126 entries, 1 to 17446
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   상권_코드         14126 non-null  int64
 1   category20    14126 non-null  object
 2   업종_분기당_매출_금액  14126 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 441.4+ KB

In [19]:
# long-wide 형식으로 변환
# data_amount 데이터프레임을 기반으로 '상권_코드'를 인덱스로, 'category20'를 컬럼으로 하고,
# '업종_분기당_매출_금액'을 값으로 갖는 pivot_df_amount 데이터프레임을 생성합니다.
pivot_df_amount = data_amount.pivot(index="상권_코드", columns="category20", values="업종_분기당_매출_금액")
# pivot_df_amount 데이터프레임을 출력합니다.
print(pivot_df_amount)

category20            교육     기타_개인_서비스            보건           소매업  \
상권_코드
1001491     1.142871e+09  6.557306e+09  1.301284e+10  2.730247e+10
1001492     1.259131e+10  5.003410e+10  1.712418e+11  1.179963e+11
1001493     3.280166e+08  1.036428e+10  4.527424e+10  1.903520e+11
1001494     3.296943e+10  8.673814e+09  1.324915e+11  4.127133e+11
1001495     3.179254e+09  2.163496e+10  5.509154e+10  1.858813e+11
...                  ...           ...           ...           ...
2130322     7.465206e+08  4.129205e+08  5.163034e+09  1.457496e+09
2130323     1.715227e+09  7.920164e+08  9.749159e+09  2.557433e+09
2130324     9.375404e+08  1.010386e+09  4.398217e+09  1.125915e+09
2130325     6.842931e+08  2.406481e+08  1.245158e+09  1.203096e+09
2130326     3.508958e+07  1.037142e+08  1.510768e+10  2.726317e+07

category20  스포츠_및_오락관련_서비스업           식료품            음료           음식점  \
상권_코드
1001491        6.137251e+09  1.040615e+11  1.041891e+11  2.843361e+11
1001492        1.640896e+10  2.983294e+11  2.068703e+11  5.472711e+11
1001493        7.819961e+09  8.373024e+10  4.677325e+10  1.223356e+11
1001494        2.319816e+10  8.397284e+10  1.160220e+11  2.917007e+11
1001495        1.885548e+10  1.155365e+11  9.820046e+10  1.976445e+11
...                     ...           ...           ...           ...
2130322        6.225019e+08  2.371480e+10  6.139803e+08  2.325123e+09
2130323        3.939129e+08  4.378063e+10  2.867714e+09  1.057711e+10
2130324        4.428504e+07  1.058640e+10  1.139454e+08  4.298682e+09
2130325                 NaN  2.234558e+10  1.510444e+07  1.732013e+09
2130326        1.543018e+08  9.838348e+09  2.383652e+08  2.190159e+09

category20         의류_미용           주점업
상권_코드
1001491     1.710479e+11  4.272260e+10
1001492     1.288175e+12  1.396872e+11
1001493     1.109503e+12  2.811756e+10
1001494     2.776228e+11  4.992536e+10
1001495     1.962588e+11  6.906407e+10
...                  ...           ...
2130322     7.452928e+08  1.860283e+09
2130323     5.820745e+09  1.464198e+09
2130324     5.005681e+09  1.618277e+09
2130325     4.948796e+08  1.770901e+08
2130326     1.208625e+09  2.019440e+09

[1653 rows x 10 columns]

In [20]:
# pivot_df_amount 데이터프레임에서 각 컬럼별로 결측치(null 값)의 개수를 계산
pivot_df_amount.isna().sum()

category20
교육                 432
기타_개인_서비스          218
보건                 405
소매업                150
스포츠_및_오락관련_서비스업    429
식료품                 77
음료                 160
음식점                 73
의류_미용              229
주점업                231
dtype: int64

In [21]:
# pivot_df_amount 데이터프레임의 결측치(null 값)를 0으로 채움
pivot_df_amount = pivot_df_amount.fillna(0)

In [22]:
# pivot_df_amount 데이터프레임의 정보 출력
pivot_df_amount.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1653 entries, 1001491 to 2130326
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   교육               1653 non-null   float64
 1   기타_개인_서비스        1653 non-null   float64
 2   보건               1653 non-null   float64
 3   소매업              1653 non-null   float64
 4   스포츠_및_오락관련_서비스업  1653 non-null   float64
 5   식료품              1653 non-null   float64
 6   음료               1653 non-null   float64
 7   음식점              1653 non-null   float64
 8   의류_미용            1653 non-null   float64
 9   주점업              1653 non-null   float64
dtypes: float64(10)
memory usage: 142.1 KB

In [23]:
# merged_df 데이터프레임에서 '상권_코드', 'category20', '매출_비율' 컬럼만 추출하여 data_prob 데이터프레임을 생성
data_prob = merged_df[['상권_코드', 'category20', '매출_비율']]

# data_prob 데이터프레임에서 'category20' 컬럼 값이 top10 리스트에 포함되어 있는 행들로 필터링
data_prob = data_prob[data_prob['category20'].isin(top10)]

In [24]:
# long-wide 형식으로 변환
pivot_df_prob = data_prob.pivot(index="상권_코드", columns="category20", values="매출_비율")
print(pivot_df_prob)

category20     교육  기타_개인_서비스     보건    소매업  스포츠_및_오락관련_서비스업    식료품     음료  \
상권_코드
1001491     0.001      0.009  0.017  0.036            0.008  0.136  0.136
1001492     0.004      0.015  0.051  0.035            0.005  0.089  0.061
1001493     0.000      0.006  0.027  0.115            0.005  0.051  0.028
1001494     0.022      0.006  0.090  0.281            0.016  0.057  0.079
1001495     0.003      0.021  0.053  0.178            0.018  0.111  0.094
...           ...        ...    ...    ...              ...    ...    ...
2130322     0.020      0.011  0.137  0.039            0.017  0.630  0.016
2130323     0.022      0.010  0.122  0.032            0.005  0.549  0.036
2130324     0.032      0.035  0.151  0.039            0.002  0.363  0.004
2130325     0.024      0.009  0.044  0.043              NaN  0.793  0.001
2130326     0.001      0.003  0.484  0.001            0.005  0.315  0.008

category20    음식점  의류_미용    주점업
상권_코드
1001491     0.371  0.223  0.056
1001492     0.162  0.382  0.041
1001493     0.074  0.669  0.017
1001494     0.199  0.189  0.034
1001495     0.189  0.188  0.066
...           ...    ...    ...
2130322     0.062  0.020  0.049
2130323     0.133  0.073  0.018
2130324     0.147  0.171  0.055
2130325     0.061  0.018  0.006
2130326     0.070  0.039  0.065

[1653 rows x 10 columns]

In [25]:
# pivot_df_prob 데이터프레임의 결측치(null 값)를 0으로 채움
pivot_df_prob = pivot_df_prob.fillna(0)

In [26]:
# pivot_df_prob 데이터프레임의 정보 출력
pivot_df_prob.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1653 entries, 1001491 to 2130326
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   교육               1653 non-null   float64
 1   기타_개인_서비스        1653 non-null   float64
 2   보건               1653 non-null   float64
 3   소매업              1653 non-null   float64
 4   스포츠_및_오락관련_서비스업  1653 non-null   float64
 5   식료품              1653 non-null   float64
 6   음료               1653 non-null   float64
 7   음식점              1653 non-null   float64
 8   의류_미용            1653 non-null   float64
 9   주점업              1653 non-null   float64
dtypes: float64(10)
memory usage: 142.1 KB

In [27]:
merged_pivot = pd.merge(pivot_df_amount, pivot_df_prob, on='상권_코드', how='inner',suffixes=('_amount', '_prob'))
merged_pivot

category20,교육_amount,기타_개인_서비스_amount,보건_amount,소매업_amount,스포츠_및_오락관련_서비스업_amount,식료품_amount,음료_amount,음식점_amount,의류_미용_amount,주점업_amount,교육_prob,기타_개인_서비스_prob,보건_prob,소매업_prob,스포츠_및_오락관련_서비스업_prob,식료품_prob,음료_prob,음식점_prob,의류_미용_prob,주점업_prob
상권_코드,,,,,,,,,,,,,,,,,,,,
1001491,1.142871e+09,6.557306e+09,1.301284e+10,2.730247e+10,6.137251e+09,1.040615e+11,1.041891e+11,2.843361e+11,1.710479e+11,4.272260e+10,0.001,0.009,0.017,0.036,0.008,0.136,0.136,0.371,0.223,0.056
1001492,1.259131e+10,5.003410e+10,1.712418e+11,1.179963e+11,1.640896e+10,2.983294e+11,2.068703e+11,5.472711e+11,1.288175e+12,1.396872e+11,0.004,0.015,0.051,0.035,0.005,0.089,0.061,0.162,0.382,0.041
1001493,3.280166e+08,1.036428e+10,4.527424e+10,1.903520e+11,7.819961e+09,8.373024e+10,4.677325e+10,1.223356e+11,1.109503e+12,2.811756e+10,0.000,0.006,0.027,0.115,0.005,0.051,0.028,0.074,0.669,0.017
1001494,3.296943e+10,8.673814e+09,1.324915e+11,4.127133e+11,2.319816e+10,8.397284e+10,1.160220e+11,2.917007e+11,2.776228e+11,4.992536e+10,0.022,0.006,0.090,0.281,0.016,0.057,0.079,0.199,0.189,0.034
1001495,3.179254e+09,2.163496e+10,5.509154e+10,1.858813e+11,1.885548e+10,1.155365e+11,9.820046e+10,1.976445e+11,1.962588e+11,6.906407e+10,0.003,0.021,0.053,0.178,0.018,0.111,0.094,0.189,0.188,0.066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130322,7.465206e+08,4.129205e+08,5.163034e+09,1.457496e+09,6.225019e+08,2.371480e+10,6.139803e+08,2.325123e+09,7.452928e+08,1.860283e+09,0.020,0.011,0.137,0.039,0.017,0.630,0.016,0.062,0.020,0.049
2130323,1.715227e+09,7.920164e+08,9.749159e+09,2.557433e+09,3.939129e+08,4.378063e+10,2.867714e+09,1.057711e+10,5.820745e+09,1.464198e+09,0.022,0.010,0.122,0.032,0.005,0.549,0.036,0.133,0.073,0.018
2130324,9.375404e+08,1.010386e+09,4.398217e+09,1.125915e+09,4.428504e+07,1.058640e+10,1.139454e+08,4.298682e+09,5.005681e+09,1.618277e+09,0.032,0.035,0.151,0.039,0.002,0.363,0.004,0.147,0.171,0.055
2130325,6.842931e+08,2.406481e+08,1.245158e+09,1.203096e+09,0.000000e+00,2.234558e+10,1.510444e+07,1.732013e+09,4.948796e+08,1.770901e+08,0.024,0.009,0.044,0.043,0.000,0.793,0.001,0.061,0.018,0.006
2130326,3.508958e+07,1.037142e+08,1.510768e+10,2.726317e+07,1.543018e+08,9.838348e+09,2.383652e+08,2.190159e+09,1.208625e+09,2.019440e+09,0.001,0.003,0.484,0.001,0.005,0.315,0.008,0.070,0.039,0.065

In [28]:
merged_pivot.to_csv('category10_amount_prob.csv')